.content {
  padding-top: 40px;
}
.content-wrapper {
  background-color: $secondary-bg;
  .sponsor-region {
    h2 {
      text-align: center;
      margin: 50px;
      margin-bottom: 15px;
      font-weight: bolder;
    }

    p {
      text-align: center;
    }

    .sponsor-btn{
      text-align: center;
      margin: 50px auto;
      .btn{
        text-transform: uppercase;
        color: $secondary-color;
        border: 1px solid $secondary-color;
        font-weight: bolder;
      }
      button:hover{
        background-color:$secondary-color;
        color: $primary-bg;
      }
    }

    h4 {
      text-align: center;
    }

    .sponsors-image {
      text-align: center;
      margin-bottom: 50px;
    }
  }
}
