{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'footer-bottom',
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <img src="/{{ directory }}/images/drupalcampcebu_puso.svg" alt="Drupalcampcebu"/>
          <p>Since 2014, Drupalcamp Cebu is brought to you by the Drupal Cebu User Group.</p>
          <p>Drupalcamp Cebu 2017 logo by Ron Corona.<br>Drupal is a registered trademark of Dries Buytaert.</p>
          <p class="copyright">Copyright Drupal Cebu User Group © 2014-2018. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
{% endif %}
